body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #4d4848;
}

header {
    background-color: #4a7199;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #256691;
    color: #fff;
}

h3 {
    color: #3498db;
}

ol, ul {
    margin-bottom: 10px;
}

a {
    color: #c3aeec;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #6f7983;
    color: #959798;
    padding: 20px; /* Aumenta el padding para mayor separación */
    text-align: center;
    position: relative; /* Cambia a relative */
    width: 100%;
    clear: both; /* Añade clear para evitar solapamiento */
}
